.request-nav {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 30%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  flex: 1;
  overflow: hidden;
}

.request-options {
  flex-shrink: 0;
}

.request-header {
  padding: 10px;
  font-weight: bold;
  border-bottom: 1px solid gray;
  flex-shrink: 0;
}

.request-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: auto;
  flex: 1;
}

.delete-all-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  font-weight: 600;
  font-size: 14px;
  color: rgb(150, 150, 150);
  border-top: 2px solid rgb(230, 230, 230);
}

.delete-all-button:hover {
  cursor: pointer;
  color: var(--primary-color);
  background-color: #f3eaf8;
}
