.endpoint-header {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.endpoint-header span {
  border: 1px solid #656565;
  padding: 8px 10px;
  border-radius: 5px;
  margin-left: 5px;
}