.request_line{
  min-width: 250px;
  background-color: #656565;
  color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  align-content: center;
}

.request_line:hover {
  background-color: #707070;
  color: white;
}