.endpoint-header {
  background-color: #f9f5fb;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 11;
}

.endpoint-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.endpoint-container {
  border: 1px solid #9d57c4;
  border-radius: 5px;
  display: flex;
  align-items: stretch;
  justify-content: left;
  min-height: 40px;
}

.endpoint-title {
  display: flex;
  background-color: #9d57c4;
  color: white;
  align-items: center;
  padding: 0 10px;
}

.endpoint {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
