.home-page {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.container {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.request-list {
  text-align: left;
  list-style: none;
  align-self: flex-start;
  margin: 100px;
  margin-top: 0px;
}

.request-details p {
  overflow-wrap: break-word;
}

.endpoint-header {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.endpoint-header span {
  border: 1px solid #656565;
  padding: 8px 10px;
  border-radius: 5px;
  margin-left: 5px;
}

.request_li{
  min-width: 250px;
  background-color: #656565;
  color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  align-content: center;
}

.request_li:hover {
  background-color: #707070;
  color: white;
}

.copy_style {
  width: 100px;
  background-color: #656565;
  color: white;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  align-content: center;
}

.copy_style:hover {
  background-color: #707070;
  color: white;
}