button {
  background-color: transparent;
  color: var(--primary-color);
  padding: 5px 10px;
  border-radius: 5px;
  align-content: center;
  border-width: 1px;
  border-color: var(--primary-color);
  cursor: pointer;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, sans-serif;
}

button:hover {
  background-color: var(--primary-color);
  color: white;
}

.unsupported-viewport {
  display: none;
}

@media (max-width: 900px) {
  .unsupported-viewport {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    font-size: 20px;
    font-weight: 600;
  }
}
