/* === Variables === */
:root {
/* what order should I put these in? And do I need to list so many? */
  --primary-color: #852DB5;
  --text-color: #213547;
  --bg-color: #ffffff;

  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* === Reset === */
*, *::before, *::after {
  box-sizing: border-box;
}

button, input, select, textarea {
  font: inherit;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* === Element Defaults === */
a {
  color: var(--primary-color);
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--primary-color)
}